
.container {
    padding: 100px 20px;
    max-width: 800px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.description {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #399358;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
    max-width: 300px; /* Max width for the buttons */
}

.button:hover {
    background-color: #357abd;
    transform: translateY(-2px); /* Slight lift effect */
}
